<div class="row">
    <div class="col s12 m9">
        <div class="card z-depth-3">
            <div class="row">
                <div class="card-title center-align" style="font-size: 32px;">User Profile</div>
                <div class="center-align">
                    <img src="" alt="img not supported!" class="profile-img">
                </div>
            </div>

            <div class="row flow-text black-text center-align card-main-row z-depth-1">
                <div class="col s6 m6 card-content-data">
                    <span>Username</span>
                </div>
                <div class="col s6 m6 card-content-data">
                    <span id="viewProfile-username"></span>
                </div>

                <div class="col s6 m6 card-content-data">
                    <span>Firstname</span>
                </div>
                <div class="col s6 m6 card-content-data">
                    <span id="viewProfile-firstname"></span>
                </div>

                <div class="col s6 m6 card-content-data">
                    <span>Lastname</span>
                </div>
                <div class="col s6 m6 card-content-data">
                    <span id="viewProfile-lastname"></span>
                </div>

            </div>

            <div class="card-footer view-profile-card-footer" style="padding: 16px;">
                <a onclick=goToMainpage() class="waves-effect waves-light btn blue darken-1">Go Back</a>
                <a onclick=updateProfile() class="waves-effect waves-light btn orange darken-1" style="float: right;">Update
                    Profile</a>
            </div>
        </div>
    </div>
</div>