* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
}

.top-bar {
  background-color: #1a1a1d;
  height: 8vh;
}

.top-bar > div {
  color: white;
  /* border: 2px solid yellow; */
  padding-left: 45%;
  font-size: 35px;
}

.login-box {
  /* border: 2px solid red; */
  background-color: #1f2833;
  height: 60vh;
  margin-top: 5%;
}

label {
  color: #66fcf1;
  font-weight: 700;
  font-size: 2rem;
}

.new-user {
  color: #66fcf1;
  font-weight: 700;
  font-size: 2rem;
}

@media screen and (max-width: 400px) {
  .login-box {
    height: 70vh;
    margin-top: 10%;
    margin-left: 5%;
  }

  label {
    font-weight: 500;
    font-size: 1rem;
  }

  .new-user {
    font-weight: 500;
    font-size: 1rem;
  }

  .top-bar > div {
    color: white;
    font-size: 35px;
    padding-left: 30%;
  }
}
